.git
.github
.vscode
*.dmb
*.rsc
*.lk
*.log
data/
cache/
config/config.txt
config/dbconfig.txt
config/admins.txt
config/admin_ranks.txt
config/donators.txt
config/mentors.txt
config/motd.txt
config/game_options.txt
config/guard_blacklist.txt
config/maps.txt
config/announcer/
.env
docker-compose.yml
